<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waid"
    android:versionCode="6"
    android:versionName="1.3" >

   <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true"
        android:smallScreens="true" />
      
     <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> 
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
     
     
     <uses-feature android:name="android.hardware.camera"  android:required="false"/>
    
    <!-- App receives GCM messages. -->
	<!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> -->
	<!-- GCM connects to Google Services. -->
	<!-- Already have INTERNET permissions -->
	<!-- GCM requires a Google account. -->
	<!--  <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
	<!-- Keeps the processor from sleeping when a message is received. -->
	<!-- Alreay have WAKE_LOCK permissions -->
	 
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
        
         <activity
             android:name="com.watamidoing.RecordActivity"
              android:label="@string/app_name"
             android:screenOrientation="landscape">

         </activity>
        
        <activity
            android:name="com.watamidoing.Login"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

        </activity>
        
        
         <activity
            android:launchMode="singleTask"
            android:name="com.watamidoing.view.WhatAmIdoing"
            android:label="@string/welcome_message"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize" >
             
           
        </activity>
        
        <activity
            android:launchMode="singleTask"
            android:name="com.watamidoing.view.WebSocketActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay" >

        </activity>
        
                                      
         <service android:name="com.watamidoing.transport.service.WebsocketService"
       	 android:process=":websocketservice" />
    
    </application>    
    
</manifest>