<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waid"
    android:versionCode="42"
    android:versionName="2.4.0" >

   <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:xlargeScreens="true"
        android:smallScreens="true" />
      
     <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
     
     <!-- 
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
     -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
     <!-- 
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
	<supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />
     -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> 
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
              
     <uses-feature android:name="android.hardware.camera"  android:required="false"/>
    
    <!-- App receives GCM messages. -->
	<!-- <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" /> -->
	<!-- GCM connects to Google Services. -->
	<!-- Already have INTERNET permissions -->
	<!-- GCM requires a Google account. -->
	<!--  <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
	<!-- Keeps the processor from sleeping when a message is received. -->
	<!-- Alreay have WAKE_LOCK permissions -->
	 
	 
	
    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo">
     
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
         
         
	<!-- Facebook SDK activities -->
	<activity android:name="com.facebook.LoginActivity"
    android:theme="@android:style/Theme.Translucent.NoTitleBar"
    android:label="@string/app_name"
    android:configChanges="orientation|keyboard|keyboardHidden" />
             
                  <!-- 
         <activity
            android:name="com.watamidoing.facebook.MainActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

        </activity>
          -->

        <activity
            android:name="com.watamidoing.Login"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>

        </activity>

        <!-- 
        <activity
            android:launchMode="singleTask"
            android:name="com.android.gles3jni.GLES3JNIActivity"
            android:label="@string/welcome_message"
            android:screenOrientation="fullSensor"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize" >
             	
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
         -->
        <!-- 
        <activity
            android:launchMode="singleTask"
            android:name="com.watamidoing.nativecamera.CameraPreviewer"
            android:label="@string/welcome_message"
            android:screenOrientation="fullSensor"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize" >
             	
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                  <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
         -->
        
         <activity
            android:launchMode="singleTask"
            android:name="com.watamidoing.view.WhatAmIdoing"
            android:label="@string/welcome_message"
            android:screenOrientation="fullSensor"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize" >
             	
 			<intent-filter>
            <action android:name   = "android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="x-oauthflow-twitter" android:host="callback" />
        </intent-filter>
           
        </activity>
                 
        <service
            android:launchMode="singleTask" 
            android:alwaysRetainTaskState="true"
             android:name="com.watamidoing.total.service.TotalWatchersService"
            android:process=":totalwatchersservice"/>
        
        <service 
            android:launchMode="singleTask" 
            android:alwaysRetainTaskState="true"
            android:name="com.watamidoing.chat.xmpp.service.XMPPService"
            android:process=":xmppservice"/>
                                      
         <service 
             android:launchMode="singleTask" 
             android:alwaysRetainTaskState="true"
             android:name="com.watamidoing.transport.service.ZeroMQServiceNative"
       	 	 android:process=":websocketservice" />
    
    </application>    
    
</manifest>